<div class="row">
        <div class="col-md-12">
            <h2 class="">Hakkımda</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Anasayfa</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Hakkımda</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">

            <p>
                <img src="/images/muratdemirci2.jpg" class="float-left mr-2" />Murat Demirci, 1981 yılında İstanbul’da doğmuş, ilk ve orta öğrenimini İstanbul’da yapmış, 1998 yılında Marmara Üniversitesi Bilgisayar ve Kontrol Öğretmenliği (İngilizce) bölümünü kazanmış, 1999 yılında kariyerine başlamış, 2008 yılında üniversiteden mezun olmuş ve 2016 yılında evlenmiştir.
            </p><p>

                20+ yıllık iş hayatına stajyer olarak başlamış, yazılım alanını tercih etmiş ve kendini geliştirip bazı sitelerin geliştirim ekibinde yer alarak proje yöneticiliğine yükselmiştir.
            </p><p>
                Proje yöneticiliğinden sonra kendini yenilemek için eğitim sektörüne girmiş ve Bilge Adam’da bir yıl çalıştıktan sonra Bilişim Eğitim Merkezi’nde Yazılım Eğitmeni olarak C# ile Yazılım Geliştirme eğitimleri vermiş, bu dönemde içerik yönetim sistemi, ik portalı gibi projeleri geliştirmiştir. Burada geliştirdiği projelerin bir kısmı tamamlanmış ve kullanıma alınmıştır. Daha sonra Wissen Akademi’de CRM yazılımı geliştirmiş ve part-time yazılım eğitimleri vermiştir.
            </p><p>
                Murat Demirci kişisel gelişimle ilgileniyor, kitaplar okuyor, gitar çalıyor, geziyor, spor yapıyor ve topluma faydalı bireyler yetiştiriyor.
            </p>
        </div>
        <div class="col-md-3">
            <div class="bg-light p-3" style="height: 100%;">
                <h4>Projelerim</h4>
                <ul>
                    <li>Randevu Sistemi</li>
                    <li>Kütüphane Yazılımı</li>
                    <li>Kelime İşlemci</li>
                </ul>
            </div>
        </div>
    </div>