<div class="row">
    <div class="col-md-12">
        <h2 class="">Kişisel Verilerin İşlenmesine İlişkin Aydınlatma Metni</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Anasayfa</a></li>
                <li class="breadcrumb-item active" aria-current="page">KVKK</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-9">

        <h4>
            KİŞİSEL VERİLERİN İŞLENMESİNE İLİŞKİN
            AYDINLATMA METNİ
        </h4>
        <p>
            1. Aydınlatma Metni’nin Amacı ve Şirketimizin Veri Sorumlusu Konumu:
            Şirketimiz D-Market Elektronik Hizmetler ve Ticaret A.Ş. (“Hepsiburada” ve/veya “Şirket”), müşterilere ilişkin kişisel veriler bakımından 6698 sayılı Kişisel Verilerin Korunması Kanunu (“Kanun”) kapsamında “veri sorumlusu” sıfatına sahip olup işbu Aydınlatma Metni ile söz konusu Kanun uyarınca müşterilerin Hepsiburada tarafından gerçekleştirilen kişisel veri işleme faaliyetleri hakkında aydınlatılması hedeflenmektedir.
        </p><p>
            2. Müşterilere Ait Kişisel Verilerin İşlenme Amacı:
            Müşterilere ait kişisel veriler, Hepsiburada tarafından sunulan ürün ve hizmetlerden ilgili kişileri faydalandırmak için gerekli çalışmaların iş birimleri tarafından yapılması ve ilgili iş süreçlerinin yürütülmesi, Hepsiburada tarafından yürütülen ticari faaliyetlerin gerçekleştirilmesi için ilgili iş birimleri tarafından gerekli çalışmaların yapılması ve buna bağlı iş süreçlerinin yürütülmesi, Hepsiburada’nın ticari ve/veya iş stratejilerinin planlanması ve icrası, Hepsiburada’nın ve Hepsiburada ile iş ilişkisi içerisinde olan ilgili kişilerin hukuki, teknik ve ticari iş güvenliğinin temini de dahil olmak üzere Kanun’un 5. ve 6. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları çerçevesinde işlenmektedir. Kişisel verilerin işlenmesine ilişkin detaylı bilgilere Hepsiburada Tarafından 6698 sayılı Kanun Kapsamında Kişisel Verilerin İşlenmesi ve Korunmasına İlişkin Politika’dan ulaşılabilecektir.
        </p>
        3. Müşterilerin Açık Rızası Doğrultusunda İşlenecek Kişisel Veriler ve İşleme Amaçları:
        Açık rıza doğrultusunda işlenecek kişisel veriler ve işleme amaçları Rıza Metni’nde belirtilmiştir.
        <p>
            4. Müşterilere Ait Kişisel Verilerin Aktarımı:
            Müşterilere ait kişisel veriler, Hepsiburada tarafından sunulan ürün ve hizmetlerden ilgili kişileri faydalandırmak için gerekli çalışmaların iş birimleri tarafından yapılması ve ilgili iş süreçlerinin yürütülmesi, Hepsiburada tarafından yürütülen ticari faaliyetlerin gerçekleştirilmesi için ilgili iş birimleri tarafından gerekli çalışmaların yapılması ve buna bağlı iş süreçlerinin yürütülmesi, Hepsiburada’nın ticari ve/veya iş stratejilerinin planlanması ve icrası, Hepsiburada’nın ve Hepsiburada ile iş ilişkisi içerisinde olan ilgili kişilerin hukuki, teknik ve ticari iş güvenliğinin temini için gerekli olan aktivitelerin planlanması ve icrası da dahil olmak üzere Kanun’un 8. ve 9. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları çerçevesinde Doğan Holding A.Ş. ve Doğan Online Grup Şirketleri, Şirket yetkilileri, iştiraklerimiz, iş ortaklarımız, tedarikçilerimiz, hissedarlarımız, kanunen yetkili kamu kurum ve kuruluşları ile özel kurumlar ile paylaşılabilecektir.
        </p><p>
            5. Kişisel Verilerin Toplanma Yöntemi ve Hukuki Sebebi:
            Kişisel veriler, müşterilerden elektronik ortamda toplanmaktadır. Yukarıda belirtilen hukuki sebeplerle toplanan kişisel veriler Kanun’un 5. ve 6. maddelerinde ve bu Aydınlatma Metni ve açık rıza gerekli olduğu hallerde Rıza Metni’nde belirtilen amaçlarla işlenebilmekte ve aktarılabilmektedir.
        </p><p>
            6. Kişisel Veri Sahibi Olarak Müşterilerin Hakları:
            Kanun’un 11. maddesi uyarınca veri sahipleri; (i) kendileri ile ilgili kişisel veri işlenip işlenmediğini öğrenme, (ii) kişisel verileri işlenmişse buna ilişkin bilgi talep etme, (iii) kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme, (iv) yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme, (v) kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme, (vi) Kanun ve ilgili diğer kanun hükümlerine uygun olarak işlenmiş olmasına rağmen, işlenmesini gerektiren sebeplerin ortadan kalkması hâlinde kişisel verilerin silinmesini veya yok edilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme, (vii) işlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etme ve (viii) kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması hâlinde zararın giderilmesini talep etme haklarına sahiptir.
        </p><p>
            Söz konusu hakların kullanımına ilişkin talepler, kişisel veri sahipleri tarafından Hepsiburada Tarafından 6698 sayılı Kanun Kapsamında Kişisel Verilerin İşlenmesi ve Korunmasına İlişkin Politika‘da belirtilen yöntemlerle iletilebilecektir. Hepsiburada, söz konusu talepleri değerlendirerek 30 gün içerisinde sonuçlandıracaktır. Hepsiburada’nın taleplere ilişkin olarak Kişisel Verileri Koruma Kurulu tarafından belirlenen (varsa) ücret tarifesi üzerinden ücret talep etme hakkı saklıdır.
        </p>
        <h4>
            KİŞİSEL VERİLERİN İŞLENMESİNE İLİŞKİN
            RIZA METNİ
        </h4>
        <p>
            Şirketimiz D-Market Elektronik Hizmetler ve Ticaret A.Ş. (“Hepsiburada” ve/veya “Şirket”), müşterilere ilişkin kişisel veriler bakımından 6698 sayılı Kişisel Verilerin Korunması Kanunu (“Kanun”) kapsamında “veri sorumlusu” sıfatına sahip olup işbu Rıza Metni ile söz konusu Kanun uyarınca müşterilerin Hepsiburada tarafından gerçekleştirilen ve aşağıda belirtilen kişisel veri işleme faaliyetlerine ilişkin açık rızalarının temini hedeflenmektedir.
        </p><p>
            Kanun’un 5/2 ile 6/3 maddesinde yer alan kişisel veri işleme şartlarının karşılanamadığı aşağıdaki durumlar için Hepsiburada tarafından kişisel verilerin işlenebilmesi için müşterilerin açık rızasının alınması gerekmektedir. Açık rıza gerektirmeyen süreçlere ilişkin olarak Aydınlatma Metni kapsamında veri işleme faaliyetleri sürdürülmekte olup açık rıza gerektiren süreçlerde de Aydınlatma Metni’nde belirtilen temel prensiplere uygun veri işlenmektedir.
        </p><p>
            Bu kapsamda müşterilerin kişisel verileri Hepsiburada Tarafından 6698 sayılı Kanun Kapsamında Kişisel Verilerin İşlenmesi ve Korunmasına İlişkin Politika‘da Bölüm 3 – Madde IV altında belirtilen amaçlarla ve buradaki usule uygun olarak işlenmektedir. Buna göre kişisel veriler; müşterilere yönelik kampanyaların oluşturulması, Hepsiburada iş ortakları tarafından Hepsiburada müşterilerine Hepsiburada’da kullanabilecekleri özel fırsatların sunulması, çapraz satış yapılması, hedef kitle belirlenmesi, Müşteri hareketlerinin takip edilerek kullanıcı deneyimini arttırıcı faaliyetlerin yürütülmesi, Hepsiburada’ya ait internet sitesi ile mobil uygulamanın işleyişinin geliştirilmesi ve Müşteri ihtiyaçlarına göre kişiselleştirilmesi, doğrudan ve doğrudan olmayan pazarlama, kişiye özel pazarlama ve yeniden pazarlama faaliyetlerinin yürütülmesi, kişiye özel segmentasyon, hedefleme, analiz ve şirket içi raporlama faaliyetlerinin yürütülmesi, pazar araştırmaları, müşteri memnuniyeti aktivitelerinin planlanması ve icrası, Hepsiburada’nın sunduğu ürün ve hizmetlerin ilgili kişilerin beğeni, kullanım alışkanlıkları ve ihtiyaçlarına göre özelleştirilerek ilgili kişilere önerilmesi ve tanıtılması ile müşteri ilişkileri yönetimi süreçlerinin planlanması ve icrası amaçları da dahil olmak üzere genel anlamda Hepsiburada’nın ürün ve/veya hizmetlerinin satış ve pazarlama süreçlerinin planlanması ve icrası, Hepsiburada’nın sunduğu ürün ve/veya hizmetlere bağlılık oluşturulması ve/veya arttırılması süreçlerinin planlanması ve icrası kapsamında Müşteri’nin vereceği onayı doğrultusunda işlenebilecek ve bu amaçlara yönelik olarak Aydınlatma Metni’nde belirtilen taraflarla paylaşılabilecektir.
        </p>
    </div>
    <div class="col-md-3">
        <div class="bg-light p-3" style="height: 100%;">
            <h4>Projelerim</h4>
            <ul>
                <li>Randevu Sistemi</li>
                <li>Kütüphane Yazılımı</li>
                <li>Kelime İşlemci</li>
            </ul>
        </div>
    </div>
</div>
