<div class="row">
    <div class="col-md-12">
        <h2 class="">Gizlilik ve Çerez Politikası</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Anasayfa</a></li>
                <li class="breadcrumb-item active" aria-current="page">Gizlilik ve Çerez Politikası</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-9">

        <h4>Gizlilik Politikası:</h4>
        D-Market Elektronik Hizmetler ve Ticaret A.Ş. (“Hepsiburada”) olarak, kullanıcılarımızın hizmetlerimizden güvenli ve eksiksiz şekilde faydalanmalarını sağlamak amacıyla sitemizi kullanan üyelerimizin gizliliğini korumak için çalışıyoruz. Bu doğrultuda, işbu Hepsiburada Gizlilik Politikası (“Politika”), üyelerimizin kişisel verilerinin 6698 sayılı Kişisel Verilerin Korunması Kanunu (“Kanun”) ile tamamen uyumlu bir şekilde işlenmesi ve kullanıcılarımızı bu bağlamda bilgilendirmek amacıyla hazırlanmıştır. Hepsiburada.com çerez politikası İşbu Politika’nın ayrılmaz parçasıdır.

        İşbu Politika’nın amacı, Hepsiburada tarafından işletilmekte olan www.hepsiburada.com internet sitesi ile mobil uygulamanın (hepsi birlikte “Platform” olarak anılacaktır) işletilmesi sırasında Platform üyeleri/ziyaretçileri/kullanıcıları (hepsi birlikte “Veri Sahibi” olarak anılacaktır) tarafından Hepsiburada ile paylaşılan veya Hepsiburada’nın, Veri Sahibi’nin Platform’u kullanımı sırasında ürettiği kişisel verilerin kullanımına ilişkin koşul ve şartları tespit etmektir.

        Hangi Veriler İşlenmektedir?
        Aşağıda Hepsiburada tarafından işlenen ve Kanun uyarınca kişisel veri sayılan verilerin hangileri olduğu sıralanmıştır. Aksi açıkça belirtilmedikçe, işbu Politika kapsamında arz edilen hüküm ve koşullar kapsamında “kişisel veri” ifadesi aşağıda yer alan bilgileri kapsayacaktır.

        Kimlik Bilgisi
        İletişim Bilgisi
        Kullanıcı Bilgisi
        Kullanıcı İşlem Bilgisi
        İşlem Güvenliği Bilgisi
        Finansal Bilgi
        Pazarlama Bilgisi
        Talep/Şikayet Yönetimi Bilgisi
        Kişisel Verilerin Korunması Kanunu’nun 3. ve 7. maddeleri dairesince, geri döndürülemeyecek şekilde anonim hale getirilen veriler, anılan kanun hükümleri uyarınca kişisel veri olarak kabul edilmeyecek ve bu verilere ilişkin işleme faaliyetleri işbu Politika hükümleri ile bağlı olmaksızın gerçekleştirecektir.

        Kişisel Veri İşleme Amaçları
        Hepsiburada, Veri Sahibi tarafından sağlanan kişisel verileri, üyelik kaydı ve hesabının oluşturulması ve buna ilişkin kayıtların tutulması, Veri Sahibi’nin Platform üzerinden sağlanan hizmetlerden faydalandırılması sistem hatalarının tespit edilerek performans takibinin yapılması ve Platform’un işleyişinin iyileştirilmesi, bakım ve destek hizmetleri ile yedekleme hizmetlerinin sunulması amaçları dahil olmak üzere Hepsiburada tarafından sunulan ürün ve hizmetlerden ilgili kişileri faydalandırmak için gerekli çalışmaların iş birimleri tarafından yapılması ve ilgili iş süreçlerinin yürütülmesi ile bu ürün ve hizmetlerin ilgili kişilerin beğeni, kullanım alışkanlıkları ve ihtiyaçlarına göre özelleştirilerek ilgili kişilere önerilmesi ve tanıtılması için gerekli olan aktivitelerin planlanması ve icrası, Hepsiburada tarafından yürütülen ticari faaliyetlerin gerçekleştirilmesi için ilgili iş birimleri tarafından gerekli çalışmaların yapılması ve buna bağlı iş süreçlerinin yürütülmesi, Hepsiburada ve iş ilişkisi içerisinde bulunduğu kişilerin hukuki, teknik ve ticari-iş güvenliğinin temini ile Hepsiburada’nın ticari ve/veya iş stratejilerinin planlanması ve icrası amaçlarıyla işlenebilecektir.

        Veri Sahiplerinin Açık Rızası Doğrultusunda İşlenecek Kişisel Veriler ve İşleme Amaçları
        Veri Sahibi’nin açık rızası kapsamında, Hepsiburada, Veri Sahipleri’nin Platform üzerindeki hareketlerini takip ederek kullanıcı deneyiminin artırılması, istatistik oluşturulması, profilleme yapılması, doğrudan pazarlama ve yeniden pazarlama, Veri Sahibi’ne özel promosyon önerilerinin oluşturulması ve Veri Sahibi’ne iletilmesi ve bu kapsamda elde edilen verilerin her türlü reklam ve materyal içeriğinde kullanılması amacıyla veri işleyebilecek ve aşağıda anılan taraflarla bu verileri paylaşabilecektir.

        Kişisel Verilerin Aktarımı:
        Hepsiburada, Veri Sahibi’ne ait kişisel verileri ve bu kişisel verileri kullanılarak elde ettiği yeni verileri, işbu Gizlilik Politikası ile belirlenen amaçların gerçekleştirilebilmesi için Hepsiburada’nın hizmetlerinden faydalandığı üçüncü kişilere, söz konusu hizmetlerin temini amacıyla sınırlı olmak üzere aktarılabilecektir. Hepsiburada, Veri Sahibi deneyiminin geliştirilmesi (iyileştirme ve kişiselleştirme dâhil), Veri Sahibi’nin güvenliğini sağlamak, hileli ya da izinsiz kullanımları tespit etmek, operasyonel değerlendirme araştırılması, Platform hizmetlerine ilişkin hataların giderilmesi ve işbu Gizlilik Politikası’nda yer alan amaçlardan herhangi birisini gerçekleştirebilmek için SMS gönderimi yapanlar da dahil olmak üzere dış kaynak hizmet sağlayıcıları, barındırma hizmet sağlayıcıları (hosting servisleri), hukuk büroları, araştırma şirketleri, çağrı merkezleri gibi üçüncü kişiler ile paylaşabilecektir.

        Kişisel veriler, Kanun’un 8. ve 9. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları çerçevesinde Doğan Holding A.Ş. ve Doğan Online Grup Şirketleri Şirket yetkilileri, hissedarları, iş ortaklarımız, tedarikçilerimiz, kanunen yetkili kamu kurum ve kuruluşları ile kanunen yetkili özel kurumlar ile paylaşılabilecek, bu amaçlarla sınırlı olarak Kanun m.9’da işaret edilen usul esaslar ile Kişisel Verileri Koruma Kurulu kararları çerçevesinde yurt dışına aktarılabilecektir.

        Kişisel Verilerin Toplanma Yöntemi ve Hukuki Sebebi
        Kişisel veriler, Platform üzerinden ve elektronik ortamda toplanmaktadır. Yukarıda belirtilen hukuki sebeplerle toplanan kişisel veriler 6698 sayılı Kanun’un 5. ve 6. maddelerinde ve bu Gizlilik Politikası’nda belirtilen amaçlarla işlenebilmekte ve aktarılabilmektedir.

        Kişisel Veri Sahibinin Hakları
        Kanun’un 11. maddesi uyarınca veri sahipleri,

        Kendileri ile ilgili kişisel veri işlenip işlenmediğini öğrenme, kişisel verileri işlenmişse buna ilişkin bilgi talep etme,
        Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme, yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme,
        Kişisel verilerin eksik veya yanlış işlenmiş olması halinde bunların düzeltilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,
        Kanun ve ilgili diğer kanun hükümlerine uygun olarak işlenmiş olmasına rağmen, işlenmesini gerektiren sebeplerin ortadan kalkması halinde kişisel verilerin silinmesini veya yok edilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,
        İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etme ve kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması halinde zararın giderilmesini talep etme haklarına sahiptir.
        Söz konusu hakların kullanımına ilişkin talepler, kişisel veri sahipleri tarafından www.hepsiburada.com adresinde yer alan 6698 sayılı Kanun Kapsamında Hepsiburada tarafından hazırlanan Kişisel Verilerin İşlenmesi ve Korunmasına ilişkin Politika’da belirtilen yöntemlerle iletilebilecektir. Hepsiburada, söz konusu talepleri otuz gün içerisinde sonuçlandıracaktır. Hepsiburada’nın taleplere ilişkin olarak Kişisel Verileri Koruma Kurulu tarafından belirlenen (varsa) ücret tarifesi üzerinden ücret talep etme hakkı saklıdır.



        Çerez Politikası:
        D-Market Elektronik Hizmetler ve Ticaret A.Ş. (“Hepsiburada”) olarak, kullanıcılarımızın hizmetlerimizden güvenli ve eksiksiz şekilde faydalanmalarını sağlamak amacıyla sitemizi kullanan kişilerin gizliliğini korumak için çalışıyoruz.

        Çoğu web sitesinde olduğu gibi, Hepsiburada.com (“Site”) ile mobil uygulamanın (hepsi birlikte “Platform” olarak anılacaktır) ziyaretçilere kişisel içerik ve reklamlar göstermek, site içinde analitik faaliyetler gerçekleştirmek ve ziyaretçi kullanım alışkanlıklarını takip etmek amacıyla Çerezler kullanılmaktadır.

        İşbu Çerez Politakası Hepsiburada.com Gizlilik Politikası’nın ayrılmaz bir parçasıdır.

        Hepsiburada, bu Çerez Politikası’nı (“Politika”) Site’de hangi Çerezlerin kullanıldığını ve kullanıcıların bu konudaki tercihlerini nasıl yönetebileceğini açıklamak amacıyla hazırlamıştır. Hepsiburada tarafından kişisel verilerinizin işlenmesine ilişkin daha detaylı bilgi için Hepsiburada.com Gizlilik Politikası’nı incelemenizi tavsiye ederiz.

        Çerez (“Cookie”) Nedir?
        Çerezler, ziyaret ettiğiniz internet siteleri tarafından tarayıcılar aracılığıyla cihazınıza veya ağ sunucusuna depolanan küçük metin dosyalarıdır. Çerezler, ziyaret ettiğiniz web sitesiyle ilişkili sunucular tarafından oluşturulurlar. Böylelikle ziyaretçi aynı siteyi ziyaret ettiğinde sunucu bunu anlayabilir.

        Çerezler, ziyaretçilere ilişkin isim, cinsiyet veya adres gibi kişisel verileri içermezler. Çerezler konusunda daha detaylı bilgi için www.aboutcookies.org  ve www.allaboutcookies.org adreslerini ziyaret edebilirisiniz.

        Hangi Çerezler Kullanılmaktadır?
        Çerezler, sahipleri, kullanım ömürleri ve kullanım amaçları açısında kategorize edilebilir:

        Çerezi yerleştiren tarafa göre, Platform çerezleri ve üçüncü taraf Çerezler kullanılmaktadır. Platform çerezleri, Hepsiburada tarafından oluşturulurken, üçüncü taraf çerezlerini Hepsiburada ile iş birlikteliği olan farklı firmalar yönetmektedir.
        Aktif olduğu süreye göre, oturum çerezleri ve kalıcı çerezler kullanılmaktadır. Oturum çerezleri ziyaretçinin Platform’u terk etmesiyle birlikte silinirken, kalıcı çerezler ise kullanım alanına bağlı olarak çeşitli sürelerle ziyaretçilerin cihazlarında kalabilmektedir.
        Kullanım amaçlarına göre, Platform’da teknik çerezler, doğrulama çerezleri, hedefleme/reklam çerezleri, kişiselleştirme çerezleri ve analitik çerezler kullanılmaktadır.
        Neden Çerezler Kullanılmaktadır?
        Platform’da, Çerezler aşağıdaki amaçlar kapsamında kullanılmaktadır:

        Platform’un çalışması için gerekli temel fonksiyonları gerçekleştirmek. Örneğin, Hepsiburada üyelerinin, ürün sepetindeki ürünlerin ziyaretleri süresince kaybolmaması. Oturum açan üyelerin Platform’da farklı sayfaları ziyaret ederken tekrar şifre girmelerine gerek kalmaması.
        Platform’u analiz etmek ve Platform’un performansını arttırmak. Örneğin, Platform’un üzerinde çalıştığı farklı sunucuların entegrasyonu, Platform’u ziyaret edenlerin sayısının tespit edilmesi ve buna göre performans ayarlarının yapılması ya da ziyaretçilerin aradıklarını bulmalarının kolaylaştırılması.
        Platform’un işlevselliğini arttırmak ve kullanım kolaylığı sağlamak. Örneğin, Platform üzerinden üçüncü taraf sosyal medya mecralarına paylaşımda bulunmak, Platform’u ziyaret eden ziyaretçinin daha sonraki ziyaretinde kullanıcı adı bilgisinin ya da arama sorgularının hatırlanması
        Kişiselleştirme, hedefleme ve reklamcılık faaliyeti gerçekleştirmek. Örneğin, ziyaretçilerin görüntüledikleri sayfa ve ürünler üzerinden ziyaretçilerin ilgi alanlarıyla bağlantılı reklam gösterilmesi.
        Çerez Tercihlerinizi Nasıl Yönetebilirsiniz?
        Hepsiburada, kullanıcıların kendilerine ait kişisel veriler üzerindeki tercihlerini kullanabilmelerini son derece önemsemektedir. Bununla birlikte, Site’nin çalışması için zorunlu olan bazı Çerezler konusunda tercih yönetimi mümkün olmamaktadır. Ayrıca bazı Çerezlerin kapatılması halinde Site’nin çeşitli fonksiyonlarının çalışmayabileceğini hatırlatma isteriz.

        Platform’da kullanılan Çerezlere dair tercihlerin ne şekilde yönetebileceğine dair bilgiler aşağıdaki gibidir:

        Ziyaretçiler, Platform’u görüntüledikleri tarayıcı ayarlarını değiştirerek çerezlere ilişkin tercihlerini kişiselleştirme imkanına sahiptir. Eğer kullanılmakta olan tarayıcı bu imkânı sunmaktaysa, tarayıcı ayarları üzerinden Çerezlere ilişkin tercihleri değiştirmek mümkündür. Böylelikle, tarayıcının sunmuş olduğu imkanlara göre farklılık gösterebilmekle birlikte, veri sahiplerinin çerezlerin kullanılmasını engelleme, çerez kullanılmadan önce uyarı almayı tercih etme veya sadece bazı Çerezleri devre dışı bırakma ya da silme imkanları bulunmaktadır. Bu konudaki tercihler kullanılan tarayıcıya göre değişiklik göstermekle birlikte genel açıklamaya https://www.aboutcookies.org/  adresinden ulaşmak mümkündür. Çerezlere ilişkin tercihlerin, ziyaretçinin Platform’a erişim sağladığı her bir cihaz özelinde ayrı ayrı yapılması gerekebilecektir.
        Google Analytics tarafından yönetilen Çerezleri kapatmak için tıklayınız.
        Google tarafından sağlanan kişiselleştirilmiş reklam deneyimini yönetmek için tıklayınız.
        Birçok firmanın reklam faaliyetleri için kullandığı çerezler bakımından tercihler Your Online Choices  üzerinden yönetilebilir.
        Mobil cihazlar üzerinden Çerezleri yönetmek için mobil cihaza ait ayarlar menüsü kullanılabilir.
        Hangi Haklara Sahipsiniz?
        6698 Sayılı Kişisel Verilerin Korunması Kanunu’nun 11. maddesi uyarınca ziyaretçiler, Hepsiburada’ya başvurarak, kendileriyle ilgili,

        Kişisel veri işlenip işlenmediğini öğrenme,
        Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,
        Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,
        Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme,
        Kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,
        Kanun ve ilgili diğer kanun hükümlerine uygun olarak işlenmiş olmasına rağmen, işlenmesini gerektiren sebeplerin ortadan kalkması hâlinde kişisel verilerin silinmesini veya yok edilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,
        İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etme,
        Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması hâlinde zararın giderilmesini talep etme
        haklarına sahiptir

        Söz konusu haklar, kişisel veri sahipleri tarafından 6698 sayılı Kanun Kapsamında Hepsiburada tarafından hazırlanan Kişisel Verilerin İşlenmesi ve Korunmasına ilişkin Politika’da belirtilen yöntemlerle iletildiğinde her hâlükârda 30 (otuz) gün içerisinde değerlendirilerek sonuçlandırılacaktır. Taleplere ilişkin olarak herhangi bir ücret talep edilmemesi esas olmakla birlikte, Hepsiburada, Kişisel Verileri Koruma Kurulu tarafından belirlenen ücret tarifesi üzerinden ücret talep etme hakkını saklı tutar.

        Rıza ve Gizlilik Politikası’ndaki Değişiklikler
        Hepsiburada, Gizlilik Politikası (“Politika”) ile kullanıcılarına Çerez kullanımının kapsamı ve amaçları hakkında detaylı açıklama sunmayı ve Çerez tercihleri konusunda kullanıcılarını bilgilendirmeyi hedeflemiştir. Bu bakımdan, Platform’da yer alan Çerez bilgilendirme uyarısının kapatılması ve Site’nin kullanılmaya devam edilmesi halinde Çerez kullanımına rıza verildiği kabul edilmektedir. Kullanıcıların Çerez tercihlerini değiştirme imkânı her zaman saklıdır.

        Hepsiburada, Politika hükümlerini dilediği zaman değiştirebilir. Güncel Politika Platform’da yayınlandığı tarihte yürürlük kazanır.
    </div>
    <div class="col-md-3">
        <div class="bg-light p-3" style="height: 100%;">
            <h4>Projelerim</h4>
            <ul>
                <li>Randevu Sistemi</li>
                <li>Kütüphane Yazılımı</li>
                <li>Kelime İşlemci</li>
            </ul>
        </div>
    </div>
</div>